calculator filter=lfs diff=lfs merge=lfs -text
calendar filter=lfs diff=lfs merge=lfs -text
file_manager filter=lfs diff=lfs merge=lfs -text
notes filter=lfs diff=lfs merge=lfs -text
task_manager filter=lfs diff=lfs merge=lfs -text
terminal filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
git_scripts filter=lfs diff=lfs merge=lfs -text
web_browser filter=lfs diff=lfs merge=lfs -text
application_store filter=lfs diff=lfs merge=lfs -text
document_processor filter=lfs diff=lfs merge=lfs -text
email_client filter=lfs diff=lfs merge=lfs -text
text_editor filter=lfs diff=lfs merge=lfs -text
calculator/bellandeos/Calculator filter=lfs diff=lfs merge=lfs -text
email_client/bellandeos/Email_Client filter=lfs diff=lfs merge=lfs -text
task_manager/bellandeos/Task_Manager filter=lfs diff=lfs merge=lfs -text
terminal/linux/Terminal filter=lfs diff=lfs merge=lfs -text
file_manager/bellandeos/File_Manager filter=lfs diff=lfs merge=lfs -text
notes/bellandeos/Notes filter=lfs diff=lfs merge=lfs -text
terminal/bellandeos/Terminal filter=lfs diff=lfs merge=lfs -text
text_editor/linux/Text_Editor filter=lfs diff=lfs merge=lfs -text
web_browser/linux/Web_Browser filter=lfs diff=lfs merge=lfs -text
calculator/linux/Calculator filter=lfs diff=lfs merge=lfs -text
calendar/linux/Calendar filter=lfs diff=lfs merge=lfs -text
email_client/linux/Email_Client filter=lfs diff=lfs merge=lfs -text
file_manager/linux/File_Manager filter=lfs diff=lfs merge=lfs -text
task_manager/linux/Task_Manager filter=lfs diff=lfs merge=lfs -text
web_browser/bellandeos/Web_Browser filter=lfs diff=lfs merge=lfs -text
application_store/bellandeos/Application_Store filter=lfs diff=lfs merge=lfs -text
application_store/linux/Application_Store filter=lfs diff=lfs merge=lfs -text
calendar/bellandeos/Calendar filter=lfs diff=lfs merge=lfs -text
document_processor/bellandeos/Document_Processor filter=lfs diff=lfs merge=lfs -text
document_processor/linux/Document_Processor filter=lfs diff=lfs merge=lfs -text
notes/linux/Notes filter=lfs diff=lfs merge=lfs -text
text_editor/bellandeos/Text_Editor filter=lfs diff=lfs merge=lfs -text
